div.middle-header {
	background:white !important; 
	border-color:white !important;
	padding:20px 0px 6px 0px !important;
}

input#bio-search{
	background:#EBEBEB !important; 
	border-radius:20px !important; 
	padding-left:20px !important;
}

div#brand-header img{
	width: 121px !important;
	height: 120px !important;
}

button.btn-search{
	margin-right:15px !important;
}

section#main-slider, div#carouselExampleIndicators, section#main-slider div.carousel-inner{
	height: 400px !important;
}

section#offers{
	margin-top: 60px !important;
}

div#mainNavbar{
	margin-bottom: 20px !important;
}

section#combos{
	height: 500px !important;
}

ul.social-icons{
	list-style: none !important;
	height: auto;
	overflow: hidden;
}

ul.social-icons li a{
	float: left;
	display:block;
	padding: 25px !important;
	margin:0px 2px !important;

}

div.carousel img{
	width: 100%;	
}

a.slfacebook{
	background: url('/assets/img/social_icons.png') 0 0;
}

a.slinstagram{
	background: url('/assets/img/social_icons.png') -50px 0;
}

a.sltwitter{
	background: url('/assets/img/social_icons.png') -100px 0;
}

a.slyoutube{
	background: url('/assets/img/social_icons.png') -150px 0;
}

ul.carousel-indicators{
	display: none;
}