div.middle-header {
	background:white !important; 
	border-color:white !important;
	padding:20px 0px 6px 0px !important;
}

input#bio-search{
	background:#EBEBEB !important; 
	border-radius:20px !important; 
	padding-left:20px !important;
}

div#brand-header img{
	width: 121px !important;
	height: 120px !important;
}

button.btn-search{
	margin-right:15px !important;
}

section#main-slider, div#carouselExampleIndicators, section#main-slider div.carousel-inner{
	height: 400px !important;
}

section#offers{
	margin-top: 60px !important;
}

div#mainNavbar{
	margin-bottom: 20px !important;
}

section#combos{
	height: 500px !important;
}

ul.social-icons{
	list-style: none !important;
}

ul.social-icons li a.social-icons-link{
	background: url("/assets/img/Iconos-04.png") no-repeat;
	padding: 20px !important;
	background-position: 30px 30px !important;
}